In [ ]:
import pandas as pd 
from IPython.display import display

df = pd.read_csv("../data/raw/ca_san_diego.sample.csv.zip",compression="zip")

display(df.head())

print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

df.info() 

print("\nColumn Names:")
print(df.columns.tolist())

,geoid,parcelnumb,parcelnumb_no_formatting,state_parcelnumb,account_number,tax_id,alt_parcelnumb1,alt_parcelnumb2,alt_parcelnumb3,usecode,...,qual_class,nucleus_si,nucleus__1,nucleus__2,overlay_ju,sub_type,multi,asr_landuse,nucleus_zone,year_effec_
0,6073,2692213800,2692213800,NaN,NaN,NaN,26922138,1575821,NaN,1110,...,D075,8259,0,NaN,SD,1,N,11,10,3.0
1,6073,4946711000,4946711000,NaN,NaN,NaN,49467110,28636,NaN,1110,...,D050B,4473,0,NaN,LM,1,N,11,10,45.0
2,6073,2227512800,2227512800,NaN,NaN,NaN,22275128,5210324,NaN,1110,...,D070,1123,0,NaN,SM,1,N,11,10,3.0
3,6073,3465402806,3465402806,NaN,NaN,NaN,34654028,401553,NaN,1200,...,D070,2600,0,NaN,SD,1,N,17,10,66.0
4,6073,2111105349,2111105349,NaN,NaN,NaN,21111053,1566934,NaN,1503,...,D065,5805,0,NaN,CB,1,N,6,10,1.0

Rows: 20
Columns: 203
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Columns: 203 entries, geoid to year_effec_
dtypes: float64(80), int64(43), object(80)
memory usage: 31.8+ KB

Column Names:
['geoid', 'parcelnumb', 'parcelnumb_no_formatting', 'state_parcelnumb', 'account_number', 'tax_id', 'alt_parcelnumb1', 'alt_parcelnumb2', 'alt_parcelnumb3', 'usecode', 'usedesc', 'zoning', 'zoning_description', 'zoning_type', 'zoning_subtype', 'zoning_code_link', 'zoning_id', 'struct', 'structno', 'yearbuilt', 'year_built_effective_date', 'numstories', 'numunits', 'numrooms', 'num_bath', 'num_bath_partial', 'num_bedrooms', 'structstyle', 'parvaltype', 'improvval', 'landval', 'parval', 'agval', 'homestead_exemption', 'saleprice', 'saledate', 'taxamt', 'taxyear', 'last_ownership_transfer_date', 'owntype', 'owner', 'unmodified_owner', 'ownfrst', 'ownlast', 'owner2', 'owner3', 'owner4', 'previous_owner', 'mailadd', 'mail_address2', 'careof', 'mail_addno', 'mail_addpref', 'mail_addstr', 'mail_addsttyp', 'mail_addstsuf', 'mail_unit', 'mail_city', 'mail_state2', 'mail_zip', 'mail_country', 'mail_urbanization', 'original_mailing_address', 'address', 'address2', 'saddno', 'saddpref', 'saddstr', 'saddsttyp', 'saddstsuf', 'sunit', 'scity', 'original_address', 'city', 'county', 'state2', 'szip', 'szip5', 'urbanization', 'll_address_count', 'location_name', 'address_source', 'legaldesc', 'plat', 'book', 'page', 'block', 'lot', 'neighborhood', 'neighborhood_code', 'subdivision', 'lat', 'lon', 'fema_flood_zone', 'fema_flood_zone_subtype', 'fema_flood_zone_raw', 'fema_flood_zone_data_date', 'fema_nri_risk_rating', 'qoz', 'qoz_tract', 'census_tract', 'census_block', 'census_blockgroup', 'census_zcta', 'census_elementary_school_district', 'census_secondary_school_district', 'census_unified_school_district', 'll_last_refresh', 'sourceurl', 'recrdareatx', 'recrdareano', 'area_building', 'area_building_definition', 'deeded_acres', 'gisacre', 'sqft', 'll_gisacre', 'll_gissqft', 'll_bldg_footprint_sqft', 'll_bldg_count', 'cdl_raw', 'cdl_majority_category', 'cdl_majority_percent', 'cdl_date', 'insite_score', 'plss_township', 'plss_section', 'plss_range', 'reviseddate', 'path', 'll_stable_id', 'll_uuid', 'll_stack_uuid', 'll_row_parcel', 'll_updated_at', 'precisely_id', 'placekey', 'dpv_status', 'dpv_codes', 'dpv_notes', 'dpv_type', 'cass_errorno', 'rdi', 'usps_vacancy', 'usps_vacancy_date', 'padus_public_access', 'lbcs_activity', 'lbcs_activity_desc', 'lbcs_function', 'lbcs_function_desc', 'lbcs_structure', 'lbcs_structure_desc', 'lbcs_site', 'lbcs_site_desc', 'lbcs_ownership', 'lbcs_ownership_desc', 'housing_affordability_index', 'population_density', 'population_growth_past_5_years', 'population_growth_next_5_years', 'housing_growth_past_5_years', 'housing_growth_next_5_years', 'household_income_growth_next_5_years', 'median_household_income', 'transmission_line_distance', 'roughness_rating', 'highest_parcel_elevation', 'lowest_parcel_elevation', 'apn', 'apn_8', 'parcelid', 'fractint', 'situs_juri', 'situs_frac', 'doctype', 'docnmbr', 'docdate', 'acreage', 'taxstat', 'ownerocc', 'tranum', 'asr_zone', 'submap', 'nucleus_us', 'bedrooms', 'baths', 'addition_a', 'garage_con', 'garage_sta', 'carport_st', 'pool', 'par_view', 'usable_sq_', 'qual_class', 'nucleus_si', 'nucleus__1', 'nucleus__2', 'overlay_ju', 'sub_type', 'multi', 'asr_landuse', 'nucleus_zone', 'year_effec_']